.header {
  width: 100%;
  height: calc(100vh - 70px);
  overflow: hidden;
  .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    .left {
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 50px;
      padding: 50px;

      p {
        width: 400px;
        font-size: 17px;
      }

      .button {
        width: 150px;
        padding: 10px;
        background-color: #277bcd;
        color: #ffff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
      }

      .bottom {
        display: flex;
        gap: 50px;
        .item {
          display: flex;
          flex-direction: column;
          font-weight: bold;
        }
      }
    }
    .right {
      width: 60%;
      position: relative;
      padding: 50px;
      img {
        object-fit: contain;
      }
      .hero {
        height: 95%;
        width: 80%;
        margin-left: 100px;
      }
      .star1 {
        position: absolute;
        top: 100px;
        right: 5px;
        width: 50px;
        height: 50px;
      }
      .star2 {
        position: absolute;
        left: 0;
        width: 50px;
        height: 50px;
      }
      .star3 {
        position: absolute;
        left: 40px;
        bottom: 60px;
        width: 50px;
        height: 50px;
      }
      .comp1 {
        position: absolute;
        top: 180px;
        left: 90px;
        background-color: black;
        color: #ffff;
        border: 1px solid #ffff;
        border-radius: 10px;
        padding: 15px;
        cursor: pointer;
        transition: all ease-in-out 0.3s;
        &:hover {
          transform: scale(1.1);
        }
      }
      .comp2 {
        position: absolute;
        top: 250px;
        left: 70px;
        cursor: pointer;
        transition: all ease-in-out 0.5s;
        background-color: black;
        color: #ffff;
        border: 1px solid #ffff;
        border-radius: 10px;
        padding: 15px;
        &:hover {
          transform: scale(1.1);
        }
      }
      .comp3 {
        position: absolute;
        top: 320px;
        left: 50px;
        cursor: pointer;
        transition: all ease-in-out 0.5s;
        background-color: black;
        color: #ffff;
        border: 1px solid #ffff;
        border-radius: 10px;
        padding: 15px;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .header {
    .wrapper {
      display: flex;
      flex-direction: column;
      .left {
        gap: 20px;
        width: 100%;
        h1 {
          font-size: 15px;
          width: 100%;
        }
        p {
          font-size: 12px;
          width: 300px;
        }
        .button {
          font-size: 10px;
          width: 100px;
        }
        .bottom {
          .item {
            font-size: 12px;
          }
        }
      }

      .right {
        width: 100%;
        padding: 5px;
        .hero {
          width: 400px;
        }

        .comp1,
        .comp2,
        .comp3 {
          padding: 5px;
          font-size: 10px;
          height: 40px;
          text-align: center;
        }
        .comp1 {
          top: 100px;
        }
        .comp2 {
          top: 170px;
        }
        .comp3 {
          top: 240px;
        }
        .star1,
        .star2,
        .star3 {
          display: none;
        }
      }
    }
  }
}
