.navbar {
  width: 100%;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 999999;
  background-color: #f2efef;
  // box-shadow: -2px 9px 5px -1px rgba(0, 0, 0, 0.2);
  // -webkit-box-shadow: -2px 9px 5px -1px rgba(0, 0, 0, 0.55);
  // -moz-box-shadow: -2px 9px 5px -1px rgba(0, 0, 0, 0.55);

  .container {
    display: flex;
    align-items: center;
    gap: 200px;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    .left {
      display: flex;
      .logo {
        img {
          width: 150px;
        }
      }

      .navItem {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-left: 120px;

        span {
          transition: color ease-in-out 0.5s;
          font-size: 18px;
          cursor: pointer;

          &:hover {
            border-bottom: 1px solid #eb9999;
          }
        }
      }
    }
    .auth {
      display: flex;
      gap: 20px;
      align-items: center;
      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        cursor: pointer;
        object-fit: cover;
      }

      button {
        padding: 10px;
        border-radius: 32px;
        background-color: #277bcd;
        border: none;
        width: 100px;
        cursor: pointer;
      }
      .btn_login {
        background-color: #e7f2fe;
        color: #277bcd;
      }
      .btn_join {
        width: 150px;
        color: #ffff;
      }
    }
  }
}

@media (max-width: 480px) {
  .navbar {
    overflow: hidden;
    .container {
      .left {
        .logo {
          img {
            width: 100px;
          }
        }
      }
    }
  }
}
